.custom-radio-btn {
    /* width: 25px;
    height: 25px; */
    background-color: rgb(235, 235, 235);
    border: 3px solid transparent;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s border ease;
}

.custom-radio-btn .checkmark {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    /* display: none; */
}

.custom-radio-btn input {
    display: none;
}

.custom-radio-btn input:checked+.checkmark {
    display: inline-block;
}


/* background-image: url('https://images.pexels.com/photos/3977262/pexels-photo-3977262.jpeg');